registry=https://pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/registry/:username=sainadhpotta
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/registry/:_password=bHZza241eWFkYXRjd2txaXk0bDRtcGxtcHRpYnRoYWNveDJrY3JrbWtibHh0N2JtNHdxcQ==
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/:username=sainadhpotta
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/:_password=bHZza241eWFkYXRjd2txaXk0bDRtcGxtcHRpYnRoYWNveDJrY3JrbWtibHh0N2JtNHdxcQ==
//pkgs.dev.azure.com/sainadhpotta/nodejs/_packaging/nodejs/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
